body{
   background: cyan;

}
h1{ background: white;
  font-family: cursive;
  color: red;
  text-align: center;
  font-size: 30PX;

}
p{

background: white;
  font-family: fantasy;
   color: rgb(3, 2, 17);
   font-family: Lucida Handwriting;
   font-size: 35px;
   text-align: center;
}

li{
	list-style: none;
	float: left;
	padding: 10px;
}

li:hover{
	background-color: red;
	border-radius: 10px;
}